.checkbox-container {
  display: flex;
}

.checkbox-container input,
.checkbox-container label {
  display: inline-block;
}

.field-container {
  /* Contains label + input of every field other than checkboxes */
  display: block;
}

.field-container input,
.field-container label {
  display: block;
  text-align: left;
  max-width: 140px;
}

.field-container input[type="number"] {
  width: 100px;
}

.fieldset-flexbox {
  display: flex;
  flex-wrap: wrap;
}

.fieldset-flexbox > fieldset {
  flex-basis: 150px;
  flex-grow: 1;
  min-width: 100px;
}

.search-box {
  max-width: 1200px;
  margin: auto;
  color: white;
  padding: 4%;
}
